<%-include("header.ejs")%>
<%-include("footer.ejs")%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body style="background-color: #e4fbff">
    <h1 class="abt-h1" style='text-align: center'>tinyNET is a free link shortener service, where you can short link of any length.</h1>
  </body>
</html>
