<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="css/master.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Bootstrap-JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-left navbar-expand-lg navbar-dark" style="background-color: #301b3f">
  <a class="navbar-brand" href="/">tinyNET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav nav-pills">
      <li class="nav-item">
        <a class="nav-link hme " style="color: #fff" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/about-us"><button type="button" class="ctnme" style="color: #ffffff" name="button">About Us</button></a>
      </li>
    </ul>
  </div>
</nav>
<script type="text/javascript">
    document.oncontextmenu = new Function("return false;");
</script>
</html>
  </body>
</html>
